#single-product {
  display: flex;
  flex-direction: row;
  background-color: #DDD;
}

#product-preview {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 600px;
  top: 0;
}

#product-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
}

@media screen and (max-width: 1200px) {
  #single-product {

  }

  #product-preview {

  }

  #product-content {

  }
}

@media screen and (max-width: 768px) {
  #single-product {
    flex-direction: column;
  }

  #product-preview {
    width: 100%;
    flex-grow: 1;
    height: revert;
    position: relative;
  }

  #product-content {

  }

  .footer {
    display: none;
  }
}
